.header-container {
    width: 100%;
    padding: 0;
    top: 0;
}
.header{
    position: fixed;
    background-color: white;
}

.navbar{
        display: inline-block;
        margin-left: 10rem;
}
.icon-bar{
    width: 300px;
    font-size: 30px;
}
