.header-container {
    width: 1520px;
    padding: 0;
    top: 0;
    z-index: 1000;
    box-shadow: 0 0 4px 2px #0000001a;
}
.header{
    position: fixed;
    background-color: white;
}

.navbar{
        display: inline-block;
        margin-left: 10rem;
}
.icon-bar{
    width: 300px;
    font-size: 30px;
}
