
.WorldOldCraft-inner-container1{
    width: 400px;
}
.WorldOldCraft-CountDown{
    height: 100px;
}
.WorldOldCraft-timing{
    box-shadow: 0 0 4px 2px #0000001a;
    height: 80px;
    width: 80px;
   
}

